/* ==========================
   ABSENSI QR SMPN 4 PADAHERANG
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#f3f6fb;

    color:#333;

}

.container{

    max-width:500px;

    margin:30px auto;

    background:white;

    border-radius:15px;

    padding:25px;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

}

h1{

    text-align:center;

    color:#0d47a1;

    margin-bottom:10px;

    font-size:34px;

}

h2{

    text-align:center;

    color:#444;

    margin-bottom:25px;

    font-size:22px;

}

#reader{

    height:200px;

    border:3px dashed #0d47a1;

    border-radius:10px;

    display:flex;

    align-items:center;

    justify-content:center;

    color:#666;

    background:#fafafa;

    margin-bottom:25px;

}

.info{

    line-height:2;

    font-size:18px;

}

.info span{

    font-weight:bold;

    color:#0d47a1;

}

#status{

    margin-top:20px;

    text-align:center;

    padding:12px;

    background:#e3f2fd;

    border-radius:8px;

    color:#0d47a1;

    font-weight:bold;

}

.tombol{

    display:flex;

    gap:15px;

    margin-top:25px;

}

.tombol button{

    flex:1;

    padding:15px;

    border:none;

    border-radius:10px;

    font-size:17px;

    cursor:pointer;

    font-weight:bold;

    transition:.3s;

}

#btnMasuk{

    background:#2e7d32;

    color:white;

}

#btnMasuk:hover{

    background:#1b5e20;

}

#btnPulang{

    background:#c62828;

    color:white;

}

/* ===== STATUS BERHASIL ===== */

.sukses{

    background:#d4edda !important;

    color:#155724 !important;

    border:2px solid #28a745;

}

/* ===== STATUS GAGAL ===== */

.gagal{

    background:#f8d7da !important;

    color:#721c24 !important;

    border:2px solid #dc3545;

}

#reader video{
    width: 100% !important;
    height: 200px !important;
    object-fit: cover;
    border-radius: 10px;
}

#reader{
    overflow: hidden;
}

#btnPulang:hover{

    background:#8e0000;

}

#reader img{
    width: 100% !important;
    height: 200px !important;
}

.jam{

    background:#eaf4ff;

    color:#0d47a1;

    font-size:22px;

    font-weight:bold;

    text-align:center;

    padding:15px;

    margin:20px 0;

    border-radius:10px;

}

.statistik{

    display:flex;

    gap:15px;

    margin:15px 0;

}

.boxStat{

    flex:1;

    background:#1976d2;

    color:white;

    text-align:center;

    padding:15px;

    border-radius:10px;

    font-size:20px;

    font-weight:bold;

}

.boxStat span{

    display:block;

.logo{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    margin:20px 0;
}

.logo img{
    width:120px;
    height:auto;
}

h1{
    font-size:32px;
    margin-top:10px;
}
